<div class="dashboard-container">
  <h1 class="my-github-header">
    <span>MY GITHUB</span>
    <span>SUMMARY</span>
  </h1>

  <div class="header-buttons">
    <tds-button
      type="button"
      variant="secondary"
      size="lg"
      text="Filter"
      class="filter-btn"
      ><tds-icon slot="icon" size="20px" name="doner"></tds-icon
    ></tds-button>
    <tds-button
      type="button"
      variant="primary"
      size="lg"
      text="My commits"
      class="my-commits-btn"
      (click)="onMyCommitsClicked()"
    ></tds-button>
    <tds-button
      type="button"
      variant="secondary"
      size="lg"
      text="Upload fuel data"
      class="upload-btn"
      ><tds-icon slot="icon" size="20px" name="upload"></tds-icon
    ></tds-button>
    <tds-button
      type="button"
      variant="primary"
      size="lg"
      text="Report"
      class="report-btn"
      ><tds-icon slot="icon" size="20px" name="upload"></tds-icon
    ></tds-button>
  </div>

  <h3>Summary</h3>
  <div class="summary-section">
    <tds-block class="summary-card">
      <div>Number of projects</div>
      <h1>{{ numberOfProjects() }}</h1>
    </tds-block>
    <tds-block class="summary-card">
      <div>Total commits this year</div>
      <h1>{{ totalCommitsThisYear() }}</h1>
    </tds-block>
    <tds-block class="summary-card">
      <div>Followers</div>
      <h1>{{ followers() }}</h1>
    </tds-block>
    <tds-block class="summary-card">
      <div>Following</div>
      <h1>{{ following() }}</h1>
    </tds-block>
  </div>

  <div class="chart-header-container">
    <h3>
      Commit count <tds-icon slot="icon" size="20px" name="redirect"></tds-icon>
    </h3>

    <h3>
      Programming languages
      <tds-icon slot="icon" size="20px" name="redirect"></tds-icon>
    </h3>
  </div>
  <div class="chart-container">
    <div class="bar-chart-container">
      <canvas id="commitBarChart"></canvas>
    </div>

    <div class="pie-chart-container">
      <canvas id="languagePieChart"></canvas>
    </div>
  </div>
</div>
