.my-github-header {
  margin-bottom: var(--tds-spacing-layout-96);
  font-size: var(--tds-spacing-layout-96);
  margin-top: 0;
  width: 100%;
  white-space: nowrap;
  display: inline-grid;
}

.dashboard-container {
  color: var(--tds-blue);
  padding: var(--tds-spacing-element-32);
}

.header-buttons {
  display: flex;
}

.filter-btn {
  margin-right: auto;
}

.upload-btn,
.report-btn {
  margin-left: 1rem;
}

.summary-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "bar-chart bar-chart bar-chart pie-chart";
  gap: var(--tds-spacing-element-8);
  margin-top: var(--tds-spacing-element-8);
  white-space: nowrap;
}

.summary-card h1 {
  margin-top: var(--tds-spacing-element-48);
  margin-bottom: auto;
  font-size: 96px;
}

.languagePieChart {
  width: 33%;
  height: 33%;
}

.chart-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--tds-spacing-element-8);
  margin-top: var(--tds-spacing-element-24);
  height: 400px;
}

.bar-chart-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 400px;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: var(--tds-spacing-element-8);
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bar-chart-container h3,
.pie-chart-container h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

canvas {
  display: block;
  max-width: 100%;
}
