.my-github-header {
  margin-bottom: var(--tds-spacing-layout-96);
  font-size: var(--tds-spacing-layout-96);
  margin-top: 0;
  width: 50%;
}

.dashboard-container {
  color: var(--tds-blue);
  padding: var(--tds-spacing-element-32);
}

.header-buttons {
  display: flex;
}

.filter-btn {
  margin-right: auto;
}

.upload-btn,
.report-btn {
  margin-left: 1rem;
}

.summary-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--tds-spacing-element-8);
  margin-top: var(--tds-spacing-element-8);
}

.summary-card h1 {
  margin-top: var(--tds-spacing-element-48);
  margin-bottom: auto;
  font-size: 96px;
}

.languagePieChart {
  width: 33%;
  height: 33%;
}

.chart-container {
  display: flex;
  margin-top: var(--tds-spacing-element-24);
  height: 400px;
}

.bar-chart-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* Adds spacing between the containers */
  padding: 10px;
  background-color: #f9f9f9; /* Optional: Adds a light background */
  border-radius: 10px; /* Optional: Rounds the corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
.pie-chart-container {
  flex: 1; /* Makes both charts take equal space */
  margin-left: 20px;
  /* padding: 10px; */
  background-color: #f9f9f9; /* Optional: Adds a light background */
  border-radius: 10px; /* Optional: Rounds the corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.bar-chart-container h3,
.pie-chart-container h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

canvas {
  display: block;
  /* margin: 0 auto; */
  max-width: 100%; /* Ensures the canvas resizes within its container */
}
