<div class="my-commits-container">
  <h1 class="my-commits-header">My commits</h1>
  <div class="repo-selector-container">
    @if (commitList().length===0) {

    <tds-dropdown
      class="repo-dropdown"
      label="Select Repository"
      size="lg"
      placeholder="Choose a repository"
      name="repository"
      open-direction="auto"
      (tdsChange)="onRepoChange($event)"
    >
      @for (repo of repositories(); track repo.id) {
      <tds-dropdown-option [value]="repo.name">
        {{ repo.name }}
      </tds-dropdown-option>
      }
    </tds-dropdown>
    } @else{

    <tds-text-field
      type="text"
      size="lg"
      state="default"
      [formControl]="commitFilterInput"
      ngDefaultControl
      placeholder="Search"
      class="commit-search-field"
    >
      <tds-icon slot="suffix" size="20px" name="search"></tds-icon>
    </tds-text-field>
    <div>
      @if(sortedGroupedCommits()){ @for (date of sortedDates(); track date) {
      <div class="commit-day">
        <h6>{{ formatDate(date) }}</h6>

        @for (commit of sortedGroupedCommits()[date]; track commit) {
        <ul class="commit-item">
          <div class="commit-message">
            <img
              class="avatar-img"
              src="https://www.svgrepo.com/show/170303/avatar.svg"
              alt="profile photo"
            />
          </div>
          <div class="commit-info">
            <strong>{{ commit.commit.message }}</strong>
            <p>
              {{
                commit.commit.author.name +
                  " authored " +
                  formatRelativeTime(commit.commit.author.date)
              }}
            </p>
          </div>
        </ul>
        }
      </div>
      } }
    </div>

    }
  </div>
</div>
