<div class="auth-container">
  <img
    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
    alt="GitHub Logo"
    class="github-logo"
  />

  <h1>GitHub</h1>

  <p class="description">
    In order to create an integration with GitHub, please provide personal
    access token.
  </p>

  <tds-text-field
    class="access-token-textField"
    [formControl]="accessTokenInput"
    type="text"
    ngDefaultControl
    helper="Personal Access Token"
    placeholder="Type here..."
    size="lg"
  ></tds-text-field>

  <tds-button
    class="test-connection-button"
    type="button"
    variant="primary"
    size="sm"
    text="Test connection"
    (click)="testConnectionClicked()"
  ></tds-button>
</div>
